@import url('./colors.css');

* {
    font-size: 12px;
    font-family: "FontAwesome";
}

window#waybar {
    all: unset;
}

window#waybar.empty .modules-center {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0;
}

#left1,
#left2 {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(@surface,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 7px;
    margin: 10 0 5 0;
    border-radius: 10px;
    background: alpha(@surface, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    padding: 0px 12px;
}

#right1,
#right2 {
    padding: 7px;
    margin: 10 10 5 0;
    border-radius: 10px;
    background: alpha(@surface, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background: @surface;
    color: @on_background;
}

#clock:hover,
#window:hover,
#disk:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#memory:hover,
#idle_inhibitor:hover {
    transition: all .3s ease;
    color: @tertiary;
}

#idle_inhibitor,
#disk,
#external,
#memory,
#clock,
#battery,
#workspace {
    padding: 0px 3px;
    color: @on_background;
    transition: all .3s ease;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@secondary, .4);
    transition: all .2s ease;
}

#workspaces button.active {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button:hover {
    color: @on_secondary;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty {
    border: none;
}

#workspaces button.empty:hover {
    border: none;
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @secondary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    padding-left: 2px;
}

#pulseaudio {
    padding-left: 2px;
    padding-right: 4px;
    transition: all .3s ease;
    color: @on_background;
}

#microphone {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_background;
}

#microphone.muted {
    padding: 0px 5px;
}

#tray {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
